<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>pj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{46,44}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pj.png</string>
            <key>size</key>
            <string>{88,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e6c32957c1f8995176d2fef761baeba:7b80ac62c5a49af087de1d9bb766de65:e9c1c5a649e42f0f647ea80e7cc61299$</string>
            <key>textureFileName</key>
            <string>pj.png</string>
        </dict>
    </dict>
</plist>
