<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>burgeranimation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,28},{100,18}}</string>
                <key>offset</key>
                <string>{-239,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{100,18}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>enemyanimation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,50}}</string>
                <key>offset</key>
                <string>{-239,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>enemyanimation02.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{102,46}}</string>
                <key>offset</key>
                <string>{-241,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{102,46}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>enemyanimation03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{100,48}}</string>
                <key>offset</key>
                <string>{-242,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{100,48}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>explosionanimation02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{356,48}}</string>
                <key>offset</key>
                <string>{-118,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{356,48}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>friesanimation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{90,24}}</string>
                <key>offset</key>
                <string>{-241,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{90,24}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>milkanimation.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{92,20}}</string>
                <key>offset</key>
                <string>{-238,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{92,20}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
            <key>pjanimation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{118,44}}</string>
                <key>offset</key>
                <string>{-237,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{640,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pj.png</string>
            <key>size</key>
            <string>{978,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f86c01b5917043e061b6115cebaa8db:5083e1e1c113d52e5224e84fce89fbd1:e9c1c5a649e42f0f647ea80e7cc61299$</string>
            <key>textureFileName</key>
            <string>pj.png</string>
        </dict>
    </dict>
</plist>
